*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color:darksalmon;
    display: flex;  
    justify-content: center;
    padding: 10px ;

}

.containerHeader{
    width: 80%;
    display: flex;
    border: 2px solid black;
}


#logo{
    height: 80px;
    display: flex;
    justify-content: flex-start;
}

#title{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
}


.toDoTop{
    width: 700px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: auto;
   
   
    
}

ul{
    list-style: none;
    width: 550px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    
    
}
ul li{
    margin-top: 5px;
}


.listItem{
    width: 670px;
    height: 40px;
    display: flex;
    margin: 10px;
    justify-content: center;
}
input{
    
    margin-top: 10px;
}


footer{
    width: 100%;
    background-color:darksalmon;
    display: flex;  
    justify-content: center;
    padding: 10px ;
}
.containerFooter{
    width: 80%;
    display: block;
    border: 2px solid black;
}

#contactField{
    display: flex;
    justify-content: center;
    border: 2px solid black;

}

#linksFooter{
    display: flex;
    justify-content: center;
}

.footerElement{
    padding: 10px auto 
}

#copyright{
    display: flex;
    justify-content: center;
}

    
